:root {
    --cmd: #7ecb54;
    --exp: #616f8c;
    --var:  #ec6e2d;
    --digit:#f6df56;
    --type: #eee;

    --btn: #333;
    --btn-txt-light: #757575;
    --btn-front: #ccc;

    --code-back: #0d1020;
    --code-lit: #202258;
    --code-run-back: #303841;
    --failed-back: #361117;
    --failed-line: #5f2327;
    --split: #22283b;

    --body-back: #4c4c4c;

    --title-height: 220px;
}
@font-face {
    font-family: 'Symbola';
    src: url('fonts/Symbola.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-style: normal;
}
body {
    display: flex;
    width: 99%;
    background-color: var(--body-back);
    font-family: 'Ubuntu Mono', monospace;
}
#main-content {
    padding-left: 215px;
    width: 100%;
}
#title {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--title-height);
    text-align: center;
    width: 192px;
    font-weight: bold;
    background-color: var(--code-back);
    margin-left: 8px;
    margin-top: 8px;
    padding: 4px;
}
#title h1 {
    font-size: 18pt;
    font-weight: normal;
    padding-left: 10px;
    /* color: #9d8e37; */
    color: #fff;
}
#title p{
    color: var(--exp);
}

#title a {
    color: #fff;
}

.outer-code-block {
    float: left;
    margin: 5px;
}

.status {
    background-color: var(--body-back);

    min-height: 20px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding-bottom: 3px;
    text-align: center;
    /* background-color: var(--code-run-back); */
}
.status-item {
    display: inline-block;
    padding: 2px;
    margin: 2px 5px 2px 5px;
    background-color: var(--btn-txt-light);
    border-radius: 5px;
    min-width: 40px;
}
.output {
    display: none;
    background-color: var(--btn);
}

.code-block {
    display: table;
    background-color: var(--code-back);
    color: var(--exp);
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}
.running-block {
    /* when running, the bottom is straight */
    border-radius: 10px 10px 0 0;
}

.running {
    background-color: var(--code-lit);
}
.failed {
    background-color: var(--failed-back);
}
.code-row {
    display: table-row;
}
.row-failed {
    background-color: var(--failed-line);
}
.valence-code {
    display: table-cell;
    font-family: 'Symbola';
    letter-spacing: .3rem;
    font-size: 18pt;
    padding-right: 10px;
    font-variant-numeric: tabular-nums;
    padding-left: 4px;
    padding-right: 4px;
}
.code-lex-item {
    display: inline-block;
    width: 20px;
}
.code-digit {
    color: var(--digit);
}
.code-var {
    color: var(--var);
}
.code-type {
    color: var(--type);
}
.code-exp {
    color: var(--exp);
}
.code-cmd {
    color: var(--cmd);
}
.code-none {
    background-color: var(--code-back);
}
.code-mono {
    font-family: 'Ubuntu Mono', monospace;
}

.js-code {
    display: table-cell;
    font-family:'Courier New', Courier, monospace;
    font-size: 18pt;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid var(--split); 
}
.js-code:before {
    height: 70%;
    display: block;
}
#program-text {
    font-family: 'Symbola';
    font-size: 22pt;
    letter-spacing: .3rem;
    border: none;
    padding: 8px;
    margin: 0 5px 5px 5px;
    caret-color: #ec6e2d;
    width: 400px;
    min-height: 196px;
    background-color: var(--code-back);
    color: #ccc;
    line-height: 120%;
}
#text-holder {
    float: left;
    padding-right: 10px;
    padding-top: 0;
}
#text-holder span {
    padding-left: 8px;
    color: #ccc;
}
.interface {
    margin-left: 18px;
    font-size: 14pt;
    color: #ccc;
    padding-top: 20px;
    height: 25px;
}
#intpt-msg {
    padding-left: 10px;
}

/* Left menu */

#left-menu {
    position: fixed;
    top: var(--title-height);
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - var(--title-height));
    /* width: 200px; */
    padding-right: 0;
}
.menu-item {
    background-color: var(--btn);
    color: var(--btn-front);
    width: 200px;
    font-size: 20pt;
}
.menu-item::before {
    display: inline-block;
    width: 20px;
    content: '\25B6';
    font-size: 10pt;
    padding-right: 5px;
    color: #999;
    padding-left: 5px;
}
.open::before {
    display: inline-block;
    width: 20px;
    transform: rotate(90deg) translate(5px, 7px);
}
.menu-item ul {
    padding-top: 0px;
    list-style-type: none;
    margin-left: none;
    padding-left: 0px;
    background-color: var(--code-back);
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--body-back);;
}
.menu-item ul li:first-child {
    padding-top: 8px;
}
.menu-item ul li:last-child {
    padding-bottom: 8px;
}
.menu-item .sub-menu {
    display: none;
    padding: 5px 0 2px 10px;
}
.open .sub-menu {
    display: block;
}
.sub-menu {
    font-size: 12pt;
    margin-left: none;
}
.sub-menu-block {
    display: inline-block;
    width: 6px;
    margin-right: 5px;
    /* border: 1px solid #666; */
}
.sub-menu-digit {
    background-color: var(--digit);
}
.sub-menu-var {
    background-color: var(--var);
}
.sub-menu-type {
    background-color: var(--type);
}
.sub-menu-exp {
    background-color: var(--exp);
}
.sub-menu-cmd {
    background-color: var(--cmd);
}
.sub-menu-none {
    background-color: var(--code-back);
}

/* Control menu */

#play-controls {
    padding-top: 10px;
}
.control-menu-item {
    /* padding: 10px; */
    font-size: 22pt;
    float: left;
    border: 1px solid black;
    margin: 10px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
.control-key {
    float: right;
    font-size: 12pt;
    width: 50px;
    padding-top: 10px;
    pointer-events: none;
}
.btn {
    padding: 6px;
    border: 0px;
    cursor: pointer;
    background-color: var(--btn);
    border-radius: 12px;
    color: var(--btn-front);
}
.add-btn {
    width: 40px;
    font-size: 20pt;
    margin-right: 10px;
}
.other-btn {
    font-size: 18pt;
    margin-right: 10px;
    height: 40px;
    font-size: 12pt;
    padding: 0 10px 0 10px;
    font-family: 'Ubuntu Mono', monospace;
}
.control-btn {
    width: 90px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
}
.control-btn-key {
    font-size: 12pt;
    pointer-events: none;
    font-family: 'Ubuntu Mono', monospace;
    position: absolute;
    top: 25px;
    padding-left: 33px;
}
.control-lt {
    color: var(--btn-txt-light);
}

/* running programs */

h3 {
    clear: both;
    padding-top: 10px;
    padding-left: 8px;
    font-size: 125%;
    font-weight: normal;
    color: #ccc;
}
hr {
    clear: both;
    padding-top: 20px;
    padding-left: 8px;
    display: block;
    height: 1px;
    border: 0;
    /* border-bottom: 1px solid #ccc; */
    margin-top: 5px;
    margin-left: 8px;
}
#programs-running {
    clear: both;
}
